@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


.learnmore-content a {
    text-decoration: none;
    font-family: 'Fraunces', sans-serif;
    color: black;
    font-weight: 900;
    font-size: 16px;
    border-bottom: solid 5px #f3f37c;
    width: 120px;
    border-radius: 10px;
}
