
.clienttest-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeeeee;
    height: 100%;

}
.clienttest-heading {
    padding-top: 70px;
    padding-bottom: 70px;
}
.clients-container {
    display: flex;
    padding: 0 150px;
}
.client1, .client2 {
    margin-right: 30px;
}

.client-img {
    padding-bottom: 100px;
    padding-top: 50px;
}
.client-img img {
    border-radius: 50%;
    width: 80px;
}
.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.client-name-function {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .clienttest-content {
      display: flex;
      flex-direction: column;
      height: 1560px;
      
     }
     .clients-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-height: 100%;
    }
    .clienttest-heading {
        padding: 30px;
        text-align: center;
       
       
    }
    .client{
        margin: 0;
    }
    .client-name-function {
        padding-top: 50px;
        padding-bottom: 25px;
    }
  
  }