.modal-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px 0px 10px 10px;
  padding: 0 10px;
  transition: all 0.3s ease;
  overflow: hidden;
  position: absolute;
  transform: translateX(-100%);
}
.close-modal-btn:hover {
  cursor: pointer;
}
.modal-containter a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}
.modal-containter a:hover {
  color: darkcyan;
  transition: linear 0.2s;
}
.modal-menu .modal-header {
  width: 20px;
  color: hsl(212, 27%, 19%);
  font-size: 20px;
}
.contact-link-modal a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  transition: linear 0.2s;
}

.contact-link-modal a {
  text-decoration: none;
  color: black;
  border: 1px solid #fad400;
  background-color: #fad400;
  padding: 10px 25px;
  border-radius: 30px;
  font-family: "Fraunces", serif;
}
.contact-link-modal {
  margin-right: 0px;
  padding: 10px;
  text-align: center;
}
