.footer-container {
    background-color:  #79c9b9 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    margin-top: 80px;
}

.footer-nav {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .footer-container {
        max-height: 100%;
    }
    
}